@import url('https://fonts.googleapis.com/css?family=Dyna+Puff');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* Debugging */
/* * {
  outline: 1px solid red;
} */

image {
  max-width: 100%
}

*{
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: MuseoModerno;
} 

.Navbar{
  
}

.Sidebar{
  display: none;
}

